<div class="form-group">
    <button type="button" data-action="{{key}}Skip" data-direction="lower" {{#if disableLower}}disabled{{/if}}><i class="fa-solid fa-arrow-left"></i></button>
    <p style="flex:5">{{label}}</p>
    <button type="button" data-action="{{key}}Skip" data-direction="higher" {{#if disableHigher}}disabled{{/if}}><i class="fa-solid fa-arrow-right"></i></button>
</div>